﻿@model MatrixRotations.Models.Matrix
@{
    ViewBag.Title = "Index";
}

<a href="/Home/GenNew">generate</a>

<form action="/Home/RotateLeft" method="post">

    <table border="1">
        @for (int n = 0; n < Model.Size; ++n)
        {
            <tr>
                @for (int t = 0; t < Model.Size; ++t)
                {
                    <td>
                        @Model[n, t]
                        <input id="matrix" name="matrix" type="hidden" value="@Model[n, t]" />
                    </td>
                }
            </tr>
        }
    </table>

    <button type="submit">Rotate</button>
</form>

<form action="/Home/SaveCsv" method="post">
    @for (int n = 0; n < Model.Size; ++n)
    {
        for (int t = 0; t < Model.Size; ++t)
        {
            <input id="matrix" name="matrix" type="hidden" value="@Model[n, t]" />
        }
    }
    <button type="submit">Save Csv</button>
</form>

<h3>file for upload:</h3>
@using (Html.BeginForm("LoadCsv", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" /><br>
    <input type="submit" value="Upload" />
}